# fly.toml app configuration file generated for acey-mobile-web on 2026-01-22T18:52:41-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'acey-mobile-web'
primary_region = 'iad'

[experimental]
  auto_rollback = true

[build]

[deploy]
  strategy = 'rolling'

[env]
  NODE_ENV = 'production'

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true

  [[http_service.checks]]
    interval = '10s'
    timeout = '2s'
    path = '/'

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512

[[metrics]]
  port = 9091
  path = '/metrics'
